body {
    background-color: rgb(227, 212, 240);
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
}

h1 {
    font-weight: 100;
    font-size: 4rem;
}

.note {
    background-color: white;
    outline: 1px solid rgb(179 164 189);
    box-shadow: 5px 5px 6px #c8aec8;
}
