body {
    box-sizing: border-box;
    background-color: rgb(227, 212, 240);
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
}

h1 {
    font-weight: 100;
    font-size: 4rem;
}

input{
    padding: 0 !important;
}

.note {
    background-color: white;
    box-shadow: 5px 5px 6px #cab6ca;
}

.outline {
    outline: 1px solid rgb(179 164 189);
}

.border-bottom {
    border-bottom: 1px solid rgb(203, 185, 214);
}
